@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
<!DOCTYPE html>
<html lang="en" class="dark"> <head> ... </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>